# API Ninjas - Animals API
# Obtenha sua chave em: https://api-ninjas.com/
VITE_API_NINJAS_KEY=your_api_key_here

# Pixabay API - Images
# Obtenha sua chave em: https://pixabay.com/api/docs/
VITE_PIXABAY_API_KEY=your_pixabay_key_here
